<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Add new car</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
 <body>
    <header class="header">
        <nav>
            <ul class="navigation__list">
                <li>
                    <a class="navigation_link" href="/">Home</a>
                </li>
                <li>
                    <a class="navigation_link" href="/car/add">Add new car</a>
                </li>
                <li>
                    <a class="navigation__link" href="/car">Last added car</a>
                </li>
                <li>
                    <a class="navigation__link" href="/car/list">Cars</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/car/add" method="POST">
            <label class="label">
                Make
                <input type="text" name="make" placeholder="Make" />
            </label>
            <label class="label">
                Model
                <input type="text" name="model" placeholder="Model" />
            </label>
            <label class="label">
                Year
                <input type="number" name="year" placeholder="Year"/>
            </label>
            <label class="label">
                Color 
                <input type="text" name="color" placeholder="Color" />
            </label>
            <button>Add new car</button>
        </form>
    </main>
    </body>
</html>