<!DOCTYPE html >
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body >
        <header class="header">
            <nav>
                <ul class="navigation_list">
                    <li>
                        <a class="navigation_link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="navigation__link" href="/car/add">Add new car</a>
                    </li>
                    <li>
                        <a class="navigation__link" href="/car">Last added car</a>
                    </li>
                    <li>
                        <a class="navigation_link" href="/car/list">Cars</a>
                    </li>
                </ul>
            </nav>
        </header>
    <main>Welcome on the "Cars", home page!</main> 
</body> 
</html>
